@charset "UTF-8";

#container {
  max-width: 960px;
  margin: 0 auto;
}

@font-face {
  font-family: SFRegular;
  src: url(../fonts/SFCompactDisplay-Regular.otf);
}

@font-face {
  font-family: SFBold;
  src: url(../fonts/SFCompactDisplay-Bold.otf);
}

@font-face {
  font-family: SFMedium;
  src: url(../fonts/SFCompactDisplay-Medium.otf);
}

@font-face {
  font-family: SFLight;
  src: url(../fonts/SFCompactDisplay-Light.otf);
}

body {
  background-color: #F7F7F7;
  font-family: SFRegular;
}

a {
  color: #000000;
}

a:hover {
  color: #000000;
}

#intro {
  font-family: SFMedium;
  font-size: 18px;
  margin-top: 150px;
}

#hire-btn {
  font-family: SFMedium;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #526BD1;
  border: none;
  height: 50px;
  width: 100px;
  margin-top: 50px;
  transition: all .2s ease-in-out;
}

#hire-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.26);
  opacity: 0.80;
  transform: scale(1.2);
}

.socials {
  font-size: 40px;
  color: #526BD1;
  margin-left: 25px;
  transition: all .2s ease-in-out;
}

.socials:hover {
  opacity: 0.80;
  transform: scale(1.2);
}

#experience {
  margin-top: 150px;
}

#experienceTitle {
  font-family: SFBold;
  font-size: 26px;
}

.jobTitle {
  font-family: SFRegular;
  font-size: 24px;
  margin-top: 50px;
}

.jobPeriod {
  font-family: SFRegular;
  font-size: 18px;
  color: #696969;
}

.company {
  color: #526BD1;
  display: inline-block;
}

#skills {
  margin-top: -305px;
  margin-left: 550px;
}

#skillsTitle {
  font-family: SFRegular;
  font-size: 24px;
}

#skillItem {
  font-family: SFRegular;
  font-size: 18px;
}

footer {
  margin-top: 250px;
}

.mobile-break {
  display: none;
}

@media screen and (max-width: 600px) {
  #desktop-break {
    display: none;
  }

  #intro {
    margin-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #experience {
    padding-left: 25px;
    padding-right: 25px;
  }

  #skills {
    margin-top: 100px;
    margin-left: -40px;
  }

  footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}
