.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0 auto;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .dot {
  height: 25px;
  width: 25px;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
} */

.main p {
  font-size: 1.2rem;
}

.main li {
  font-size: 1.2rem;
}

.header {
  display: flex;
}

.headerImage {
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.headerDescription {
  padding-left: 2rem;
}

.resume {
  margin-top: 3rem;
  list-style: none;
}

.resume h2 {
  margin-bottom: 2rem;
}

.resume hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  margin-bottom: 5rem;
  max-width: 660px;
  height: 200px;
  display: flex;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
}

.card hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.card h2 {
  font-weight: 500;
}

.card .cardJob, .cardDuration {
  font-weight: 300;
}

.cardDescription {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto;
}

.cardDescription p {
  font-size: 1.2rem;
}

.cardImage {
  max-width: auto;
  height: 100%;
  object-fit: contain;
  align-self: flex-start;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main {
   display: block;
   padding: 50px;
  }

  .header {
    display: block;
  }

  .headerImage {
    margin: 0 auto;
  }

  .headerDescription {
    padding-left: 0rem;
  }

  .card {
    display: inline;
  }

  .cardDescription {
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 200px;
    margin-bottom: 3rem;
  }
}
