.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.main {
  margin: 0 auto;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .dot {
  height: 25px;
  width: 25px;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
} */

.main p {
  font-size: 1.2rem;
}

.main li {
  font-size: 1.2rem;
}

.header {
  display: flex;
  max-width: 660px;
}

.header a {
  color: blue;
}

.header a:hover {
  opacity: 0.75;
}

.headerImage {
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.headerDescription {
  padding-left: 2rem;
}

.resume {
  margin-top: 3rem;
  list-style: none;
}

.resume h2 {
  margin-bottom: 2rem;
}

.resume hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  margin-bottom: 5rem;
  max-width: 660px;
  height: 200px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.card hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.card h2 {
  font-weight: 500;
}

.card .cardJob, .cardDuration {
  font-weight: 300;
}

.cardDescription {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto;
}

.cardDescription p {
  font-size: 1.2rem;
}

.cardImage {
  max-width: auto;
  height: 100%;
  object-fit: contain;
  align-self: flex-start;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  position: absolute;
  bottom: 0;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main {
   display: block;
   /* margin-left: 50%;
   margin-right: 50%; */
  }

  .header {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 300px;
  }

  .headerDescription {
    padding-left: 0rem;
  }

  .card {
    display: inline;
  }

  .cardImage {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 300px;
  }

  .cardDescription {
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 300px;
    margin-bottom: 3rem;
  }
}
